@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<select name="comboProvincia" id="comboProvincia" onchange="changeProvincia(this);">
    <option value="Sevilla">Sevilla</option>
    <option value="Huelva">Huelva</option>
    <option value="Malaga">Malaga</option>
    <option value="Madrid">Madrid</option>
</select>

<div id="myMap" style="position:relative;width:100%;height:500px;"></div>

@section scripts{
<script type="text/javascript" src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AnqMOih8bvPT5If6bg0mEKTb-X4liSI8L0snaE4RqecU8X4tqv3Hb5LhQ79YU-4w' async defer></script>
}
